.about{
    @apply flex flex-col gap-6 py-12;
    .about-content{
        @apply flex flex-col gap-12
        md:flex-row;
        .about-sub-content{
            @apply flex flex-col gap-6
            md:w-1/2
            md:justify-between;
            .about-short-description p{
                font-size: inherit;
            }
            h4{
                @apply text-lg sm:text-xl lg:text-2xl;
            }
        }
        img{
            @apply rounded-lg w-full object-cover
            aspect-square lg:aspect-video;
        }
    }
    .about-large-image{
        @apply hidden
        md:flex
        md:justify-center
        md:items-center
        md:w-1/2;
    }
}

// VISTA ABOUT
#about_view{
    .about_view_hero{
        @apply flex flex-col justify-center mt-14 px-4 gap-8
        py-12 lg:py-24;
        h2, p{
            @apply text-center
        }
    }
    .about_content{
        @apply bg-blue_light py-12 px-4;
        .about_view_img{
            @apply object-cover rounded-xl
            aspect-square sm:aspect-video
            md:w-1/2;
        }
        .about_short_description{
            @apply flex items-center
            md:px-6 lg:px-12
            md:bg-yellow_light rounded-xl;
        }
        .large_description{
            @apply py-6 md:py-12;
        }
    }
}
// FIN VISTA ABOUT