.news{
    @apply flex flex-col gap-12 py-12;
    .news-title{
        @apply flex justify-between items-center;
        a{
            @apply flex gap-2 items-center font-medium
            text-gray_500 hover:text-gray_700;
            svg{
                @apply fill-gray_500;
            }
        }
        a:hover{
            svg{
                @apply fill-gray_700;
            }
        }
    }
    .news_card{
        @apply flex flex-col md:flex-row gap-8;
        .news_card_first{
            .news-card-content-header{
                @apply flex gap-2
                sm:flex-col md:flex-row
                items-center;
                .author{
                    @apply flex gap-2 text-gray_600 items-center;
                    img{
                        @apply max-w-8 rounded-full;
                    }
                    h6{
                        @apply text-base;
                    }
                }
                .dot-divider{
                    @apply sm:hidden md:block text-4xl leading-5;
                }
                .dot-divider, .news-date{
                    @apply text-gray_500;
                }
            }
        }
        .news_list_item{
            @apply flex gap-4 items-center border-t py-8 md:px-4;
            img{
                @apply aspect-square object-cover max-w-12 rounded-full;
            }
        }
    }
}
// VISTA DE NOTICIAS
#news_index{
    .news_index_hero{
        @apply flex justify-center mt-14 py-12 lg:py-24;
        h2{
            @apply text-center;
        }
    }
    .news_list{
        @apply flex mx-auto gap-16 justify-center
        flex-col sm:flex-row;
        .news-card{
            @apply flex flex-col gap-6 sm:max-w-96;
            .news-card-img{
                img{
                    @apply rounded-lg object-cover max-h-[250px];
                }
            }
            .news-card-content{
                @apply flex flex-col gap-4;
                .news-card-content-header{
                    @apply flex gap-2 items-center;
                    .author{
                        @apply flex gap-2 text-gray_600;
                        img{
                            @apply max-h-6 w-auto rounded-full;
                        }
                    }
                    .dot-divider{
                        @apply sm:hidden md:block text-4xl leading-5;
                    }
                    .dot-divider, .news-date{
                        @apply text-gray_500;
                    }
                }
                .description{
                    @apply text-gray_600;
                }
            }
        }
    }
}
// FIN VISTA DE NOTICIAS
// VISTA DE NOTICIAS
#news_view{
    .news_view_hero{
        @apply flex flex-col justify-center mt-14 px-4 gap-8
        py-12 lg:py-24;
        h2, p{
            @apply text-center
        }
        .news_content_header{
            @apply flex gap-2 justify-center
            sm:flex-col md:flex-row
            items-center;
            .author{
                @apply flex gap-2 text-gray_600;
                img{
                    @apply max-h-6 w-auto rounded-full;
                }
            }
            .dot_divider{
                @apply sm:hidden md:block text-4xl leading-5;
            }
            .dot_divider, .news_date{
                @apply text-gray_500;
            }
        }
    }
    .news_content{
        @apply bg-blue_light py-12 px-4;
        .news_view_img{
            @apply object-cover rounded-xl
            md:w-1/2;
        }
        .news_lead{
            @apply flex items-center
            md:px-6 lg:px-12
            md:bg-yellow_light rounded-xl;
        }
        .description{
            @apply py-6 md:py-12;
        }
        .news_gallery{
            @apply w-full lg:w-1/2 mx-auto;
        }
    }
// FIN VISTA DE ARTÍCULO
}