@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Fonts */
$primary-font: "Inter", sans-serif;

a{
    @apply text-secondary hover:text-primary;
}

// nav{
//     .logo{
//         @apply bg-primary p-2;
//     }
// }
.logo-hamburguer{
    svg{
        @apply w-36 h-auto fill-black dark:fill-white;
    }
}
.toast{
    @apply flex flex-col items-center justify-between bg-white text-black dark:bg-black dark:text-white;
    .progress{
        @apply bg-black dark:bg-white;
    }
}

.mobile-menu{
    @apply bg-yellow_light text-secondary;
    .mobile-menu-inner{
        @apply h-full justify-center;
        .logo {
            a{
                @apply flex-col;
                svg{
                    @apply h-28 w-auto;
                }
                p{
                    @apply text-center;    
                }
            }
        }
        ul{
            @apply gap-6;
        }
    }
}
header, .mobile-menu{
    .dropdown{
        @apply mx-auto lg:absolute z-20 w-fit text-center transition-all;
        li{
            @apply lg:bg-gray-100 dark:bg-gray_400 dark:hover:bg-gray_600 w-full px-8;
            a{
                @apply pt-0 pb-0 ;
            }
        }
        li:hover{
            @apply bg-gray-200;
            a{
                @apply text-secondary;
            }
        }
    }
    .cart-widget{
        @apply text-white mx-2 md:mx-0;
    }
    .flag-icon{
        @apply w-4 mr-[0.5rem];
    }
}
// Function to show header according to scroll view

// End Function to show header according to scroll view
// Hamburguer Menu icon
.openbtn {
    @apply w-[20px] h-[20px] relative rounded cursor-pointer;
    }

    .openbtn .openbtn-area{
        @apply h-full relative flex flex-col justify-around;
        transition: all .4s;
    }

    .openbtn span {
        @apply w-full h-[3px] relative bg-secondary dark:bg-white rounded inline ;
        transition: all .4s;
    }

    .openbtn.active .openbtn-area {
        @apply w-[40px] -left-4;
        transform: rotateY(-360deg);
        
    }

    .openbtn.active span{
        &:nth-of-type(1) {
            left: 14px;
            top: 2px;
            transform: translateY(6px) rotate(-135deg);
            width: 45%;
        }
        &:nth-of-type(2) {
            opacity: 0;
        }
        &:nth-of-type(3) {
            left: 14px;
            top: 1px;
            transform: translateY(-6px) rotate(135deg);
            width: 45%;
        }
    }
// Contenedor gral
.custom-container{
    @apply w-full max-w-screen-lg mx-auto px-4 2xl:px-0;
}
// línea divisoria
.divider{ 
    @apply h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-black to-transparent opacity-30 dark:via-white my-4;
}
// Social icons
.social-icons a{
    @apply aspect-square rounded-md flex justify-center items-center ring-1 text-black/70 bg-black/5 ring-black/20 hover:bg-primary hover:text-white hover:ring-primary transition-all dark:text-white/50 dark:bg-white/5 dark:ring-white/20 dark:hover:bg-primary dark:hover:text-white dark:hover:ring-primary;
}